* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(-55deg, rgb(176, 116, 116), rgb(89, 89, 147), rgb(86, 163, 86), rgb(163, 146, 102));
    background-size: 300% 300%;
    animation: gradientShift 6s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.kinetic {
    position: relative;
    height: 80px;
    width: 80px;
    filter: drop-shadow(444px 444px 444px black);
}

.kinetic::after,
.kinetic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 80px solid transparent;
    border-bottom-color: black;
    animation: rotateA 2s linear infinite 0.5s;
    transition: all 0.2s ease;
}

.kinetic::before {
    transform: rotate(90deg);
    animation: rotateB 2s linear infinite;
    border-bottom-color: black;
}

/* Rotation Animations */
@keyframes rotateA {
    0%, 25% {
        transform: rotate(0deg);
    }
    50%, 75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateB {
    0%, 25% {
        transform: rotate(90deg);
    }
    50%, 75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(450deg);
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
